#Papilio Pro User Constraints File
CONFIG PART=XC6SLX9-2TQG144 ;
NET "SPI_CS"    LOC="P38"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "SPI_SCK"   LOC="P70"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "SPI_MOSI"  LOC="P64"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;
NET "SPI_MISO"  LOC="P65"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP;
